*{
 font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;  
}

.main{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 180px;
    justify-content: space-between;
}
.main-text{
    align-content: center;
    width: 50%;
    padding-inline: 3rem;
}
.main-text h2{
    font-weight: 700;
}
.main-img{
    border: 5px solid #414141;
    border-radius: 50%;
    margin-right: 5%;
}
.main-img img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.btn-primary{
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 4px;
    background: rgb(215, 229, 250);
}
.about{
    width: 80%;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 130px;
    background-color: #fff9f3;
    border-radius: 10px;
    text-align: center;
}
.section-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.section-description{
    font-size: 18px;
    margin: auto;
    text-align: justify;
    width: 80%;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}
.about-info{
    padding: 5px;
    margin: 5px;
}
.info-title{
    font-size: 20px;
    font-weight: 600;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
.footer{
    width: 100%;
    justify-items: center;
    background-color: #000000;
}
.footer p{
    margin: 0%;
    padding: 5px;
    color: whitesmoke;
}


@media screen and (max-width: 1470px) {
    .main-img{
        border: none;
    }
    .main-img img{
        height: 300px;
        width: 300px;
    }
    .about-info-container{
        width: 100%;
    }
}
@media screen and (max-width: 1020px) {
    .main-img img{
        height: 250px;
        width: 250px;
    }
}
@media screen and (max-width:770px) {
    .main{
        flex-direction: column-reverse;
        padding-top: 120px;
    }
    .main-img{
        margin: auto;
    }
    .main-img img{
        height: 200px;
        width: 200px;
    }
    .btn-primary{
        padding: 0px 10px;
    }
    .main-text{
        width: 80%;
        padding: 0px;
        margin: auto;
        margin-top: 50px;
    }
    .section-description{
        font-size: 15px;
    }
    .about{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .about-info-container{
        flex-direction: column;
    }
    .info-title{
        margin: 0px !important;
    }
} 
@media screen and (max-width: 570px){
    .main-text p{
        font-size: 12px;
    }
    .main-img img{
        height: 150px;
        width: 150px;
    }
    .section-title{
        font-size: 24px;
    }
    .section-description{
        font-size: 12px;
    }
    .info-description {
        margin: 0px ;
    }
    .btn-primary span{
        display: none;
    }
    .about-info{
        margin: 0px; 
        padding: 0px;
    }
    
    .info-description{
        font-size: 12px;
    }
}